@{
    ViewData["Title"] = "Duiven te koop";
}

<section class="home-page">
    <div class="section-bar">
        <h2>Duiven te koop</h2>
    </div>

    <div class="info-card">
        <div class="info-card-inner">
            <p>
                Komt later
            </p>
        </div>
    </div>
</section>
